/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Rock+Salt&display=swap');

/* Simple Reset */
body {
    background-color: #fcfbfb;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

/* Font styles */
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

.book, .join {
    font-size: 18px;
}

.msg p {
    font-size: 0.8em;
}

/* Line Height */
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
}

/* Padding */
#logo_link {
    padding-top: 5px;
}

nav a {
    padding: 35px;
}

.book, .join {
    padding: 15px 30px;
}

.icon {
    padding-top: 10px;
}

.msg {
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}

/* Margins */
.home-title {
    margin-top: 10px;
}

.book, .join {
    margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    margin-top: 200px;
}

/* Borders and Box-Sizing */
.book, .join {
    border-radius: 5px;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}

